@import "fonts/Lato/stylesheet.css";

@media screen, print {
    body {
        --font-size-title: 26pt;
        --font-size-heading: 18pt;
        --font-size-subheading: 14pt;
        --font-size-text: 12pt;
        --font-size-number: 12pt;
    }
}

html,
body {
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #aaa;
    font-size: var(--font-size-text);
}

#page-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr min-content 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
        "hd   hd   hd"
        "lsb  main rsb"
        "ft   ft   ft";
}

header {
    grid-area: hd;
    height: 50px;
}

#left-sidebar {
    grid-area: lsb;
}

#content {
    grid-area: main;
}

#right-sidebar {
    grid-area: rsb;
}

footer {
    grid-area: ft;
    height: 50px;
}

.heading {
    font-size: var(--font-size-heading);
}

.page {
    position: relative;
    width: 8.47in;
    height: 10.96in;
    box-sizing: border-box;
    padding: 40px;
    font-family: "Lato";
    font-size: var(--font-size-paragraph);
    color: #444;
    background-color: white;
    /* background-image: url("background.svg"); */
}

.page:not(:last-child) {
    margin-bottom: 50px;
}

.name {
    font-size: var(--font-size-title);
}

address ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

address ul li {
    display: inline-block;
    font-style: normal;
}

address ul li:not(:last-child) {
    padding-right: 10px;
    border-right: 2px solid #ddd;
}

address ul li:not(:first-child) {
    padding-left: 5px;
}

address .phone {
    font-size: var(--font-size-number);
}

.titled-section {
    margin-top: 65px;
}

.titled-section::before {
    position: absolute;
    margin-top: -45px;
    font-size: var(--font-size-heading);
}

.objective::before {
    content: "Objective";
}

.skills::before {
    content: "Skills";
}

.skills td {
    padding-bottom: 5px;
}

.skills td {
    vertical-align: top;
}

.skills tr td:first-of-type {
    white-space: nowrap;
    padding-right: 20px;
}

div.page:first-of-type .experience::before {
    content: "Experience";
}

.experience > ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.experience > ul > li {
    display: grid;
    width: 100%;
    grid-template-columns: min-content;
    grid-auto-rows: auto;
    grid-template-areas:
        "heading heading heading"
        "company-desc company-desc company-desc"
        "positions positions positions";
    margin: 20px 0 0 0;
    padding: 0;
}

.experience .heading {
    grid-area: heading;
    display: flex;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin-bottom: 5px;
}

.experience .heading .time-range {
    margin-left: auto;
}

.experience .company {
    font-size: var(--font-size-subheading);
    padding: 3px 0 3px 0;
}

.experience .company::after {
    font-size: var(--font-size-subheading);
    content: ", ";
    margin-right: .3em;
}

.experience .location {
    font-size: var(--font-size-subheading);
    white-space: nowrap;
    padding-right: 0.3em;
    padding: 3px 3px 3px 0;
}

.experience .time-range {
    font-size: var(--font-size-subheading);
    text-align: right;
    padding: 3px 0 3px 3px;
}

.experience .company-desc {
    grid-area: company-desc;
    font-style: italic;
}

.experience .positions {
    grid-area: positions;
}

.experience .position .title {
    margin-top: 10px;
}

.experience .position .title::before {
    content: "Position: ";
    font-weight: bold;
}

.experience .details li {
    list-style-type: disc;
}

.education::before {
    content: "Education";
}

@page {
    size: letter; /* 8.5in 11in */
    margin: 0;
}

@media print {
    * {
        /* print background */
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
    .page {
        margin-bottom: 0;
        page-break-after: always;
    }
    .page:last-child {
         page-break-after: avoid;
    }
    header {
        display: none;
        height: 0px;
    }
    .page {
        border: none;
    }
    footer {
        display: none;
        height: 0px;
    }
}
